body {
    font-family: 'Tahoma', sans-serif;
}
main{
    background-color: #f4f4f4;
    min-height: 1200px; /* Ajustado a min-height para permitir expansión */
}
header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.subtitle {
    font-size: 1.3rem;
}
section {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 1.3rem;
}
.divCirculos {
    background-color: #f4f4f4;
    position: relative;
    height: 50px; /* Ajusta este valor según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
}

/* Tijeras */
.circle-purple {
    background-color: purple;
    top: -250%;
    left: 50%;
    transform: translate(-50%, -100%);
}

/* Spock */
.circle-blue {
    background-color: blue;
    top: calc(100% - 200px);
    left: calc(50% - 200px);
}

/* Papel */
.circle-orange {
    background-color: orange;
    top: calc(100% - 200px);
    left: calc(42% + 200px);
}

/* Piedra */
.circle-pink {
    background-color: pink;
    top: calc(-450% + 200px);
    left: calc(38% + 200px);
}

/* Lagarto */
.circle-green {
    background-color: chartreuse;
    top: calc(-450% + 200px);
    left: calc(55% - 200px);
}
#mostrarJugador{
    padding: 10px;
    width: 400px;
    border: solid 1px #000;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #f4f4f4;
    color: #000;

}

#mostrarEleccion {
    padding: 10px;
    width: 400px;
    border: solid 1px #000;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #f4f4f4;
    color: #000;

}

#resultado {
    padding: 10px;
    width: 400px;
    border: solid 1px #000;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #f4f4f4;
    color: #000;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 1300px) {

    .divCirculos {
        margin-top: 80px;
        background-color: #f4f4f4;
        position: relative;
        height: auto; /* Ajuste para permitir expansión */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
        gap: 10px; /* Espacio entre los círculos */
    }
    
    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.2rem;
        cursor: pointer;
        position: static; /* Cambiado a static para que se alineen correctamente */
        margin: 5px;
    }

    
/* Tijeras */
.circle-purple {
    background-color: purple;
    top: -250%;
    left: 50%;
    transform: translate(-0%, -100%);
}

}