body {
    font-family: 'Tahoma', sans-serif;
}

main {
    background-color: white;
    min-height: 1200px; /* Ajustado a min-height para permitir expansión */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.subtitle {
    font-size: 1.3rem;
}

#divPadreBotonReglas {
    margin-top: 10px;
}

#botonReglas  ,#cerrarInstrucciones{
    background-color: #333;
    color: white;
}

#instrucciones {
    text-align: center;
    height: 400px;
    width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Asegura que la card esté por encima de otros elementos */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

section {
    background-color: white;
    padding: 10px;
    font-size: 1.3rem;
}

#mostrarJugador, #mostrarEleccion, #resultado {
    width: 30%;
    border: solid 1px #000;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: white;
    color: #000;
    text-align: center;
}

.divpadreIconos {
    margin: 60px 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.divPiedra, .divPapel, .divTijeras, .divLagarto, .divSpock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 10px;
    margin: 10px;
}

.divpadreIconos i {
    font-size: 2rem;
    transition: color 0.3s;
}

.divpadreIconos :hover {
    background-color: #bdc8d3 !important;

}

.divpadreIconos p {
    margin-top: 5px;
    text-align: center;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 767.98px) {
    header, section {
        text-align: center;
    }

    #mostrarJugador, #mostrarEleccion, #resultado {
        width: 90%;
        margin: 10px auto; /* Centrar los elementos */
    }

    .divpadreIconos {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .divPiedra, .divPapel, .divTijeras, .divLagarto, .divSpock {
        width: 45%; /* Ajustar el tamaño de los contenedores en pantallas pequeñas */
        margin: 5px;
    }
}
